<div class="nx-ticker">
  <div class="nx-ticker__track">
    @for (group of [false, true]; track $index) {
      <ul
        class="nx-ticker__group"
        role="list"
        [attr.aria-hidden]="group ? 'true' : null"
        [attr.aria-label]="group ? null : 'Platform at a glance'"
      >
        @for (stat of stats; track stat.label) {
          <li class="nx-ticker__item">
            <span class="nx-ticker__value"
              >{{ stat.value }}
              @if (stat.unit) {
                <em class="nx-ticker__unit">{{ stat.unit }}</em>
              }
            </span>
            <span class="nx-ticker__label">{{ stat.label }}</span>
          </li>
          <li class="nx-ticker__sep" aria-hidden="true"></li>
        }
      </ul>
    }
  </div>
</div>
